{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- <header> -->
    <nav class="navbar navbar-expand-lg" style="background-color: #a2a4a5;">
        <!-- <div class="container-fluid"> -->
        <div class="container">
            <a class="navbar-brand" href="#">Smart TO-DO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_task' %}">Create Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">LogOut</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- <button class="toggle" type="button">Menu</button> -->
    <!-- </header> -->
    <section class="dashboard" style="margin-top: 2rem;">
        <div class="container">
            <div class="dashboard-item">
                <h2>Welcome to Smart TO-DO App, {{user.username}}</h2>
                <h4>Dashboard</h4>
                <div class="task" style="background-color: #a2a4a5;">
                    <a href="{% url 'add_task' %}" style="color: #000;">Add Task</a>
                </div>
                <h2>Your Tasks</h2>
                <!-- <div class="card" style="width: 18rem;">
                {% for task in tasks %}
                    <div class="card-body">
                        <h5 class="card-title">Title: {{task.title}}</h5>
                        <p class="card-text">Description: {{task.description}}</p>
                        <p class="card-text">Due Date: {{task.due_date}}</p>
                        <a href="{% url 'edit_task' task.id %}" class="card-link">Edit Task</a>
                        <a href="{% url 'delete_task' task.id %}" class="card-link">Delete Task</a>
                    </div>
                {% endfor %}
                </div> -->
                <div class="container">
                    <div class="row row-cols-4 d-flex flex-column flex-md-row">
                        {% for task in tasks %}
                        <div class="col ">
                            <div class="card mb-2" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Title: {{task.title}}</h5>
                                    <p class="card-text">Description: {{task.description}}</p>
                                    <p class="card-text">Due Date: {{task.due_date}}</p>
                                    <a href="{% url 'edit_task' task.id %}" class="card-link">Edit Task</a>
                                    <a href="{% url 'delete_task' task.id %}" class="card-link">Delete Task</a>
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{%static '/assets/js/main.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>