{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static '/assets/css/main.css' %}" rel="stylesheet">
</head>
</style>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="Logo">
                    <h1>Smart TO-DO</h1>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'dashboard' %}" class="reg">Dashboard</a></li>
                    <li><a href="{% url 'add_task' %}" class="reg">Add Task</a></li>
                    <li><a href="{% url 'index' %}" class="reg">LogOut</a></li>
                </ul>
                <button class="toggle" type="button">Menu</button>
            </nav>
        </div>
    </header>
    <div class="edit">
    <form action="{% url 'edit_task' task.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" value="{{task.title}}"/> <br>
         <textarea name="description" placeholder="description" cols="50", rows="5">{{task.description}}</textarea> <br>
        <input type="date" name="due_date" value="{{task.due_date}}"/> <br>
        <button type="submit">Update Task</button>
    </form>
    </div>

     <script src="{% static '/js/main.js' %}"></script>
</body>
</html>