{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static '/assets/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body>
        <div class="login">
        <h1>Login Now</h1>
        {% for message in messages%}
        <h3 style="color: #ff0000;">{{message}}</h3> 
        {% endfor %}
        </div>
        <div class="register">
            <form action="{% url 'login' %}" method="POST" style="background-color: #a2a4a5;">
                {% csrf_token %}
                <div class="int">
                <p>Username:</p>
                <input type="text" name="username" />
                <p>Password:</p>
                <input type="password" name="password" /> <br>
                </div>
                <div class="sub">
                <input type="submit" />
                </div>
            </form>
            <p>Already have an account?</p>
            <a href="{% url 'register' %}">Register Here</a>
        </div>
    <script src="{%static '/assets/js/main.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>